*{
    box-sizing: border-box;
    padding-left: 2px;
}
h1{
    margin-left: 7px;

}

.prodect1 {
    width: 24%;
    background-color:bisque;
    
    border: solid;
display: inline-block;
margin-left: 7px;
margin-bottom: 5px;
}
.button1{
    background-color: blue;
    width: 200px;
    padding: 15px 0;
}

.button2{
    color: blue;
    width: 50px;
    height: 50px;
}
img{
    width: 100%;
}
svg{
    width: 15px;
    display: inline;
}

.span1{
    color: green;
    
}
.span2{
    color: red;
    font-size: 12px;
}
p{
    display: block;
    width: 230px;
}
